<div class="row">
    <div class="col-md-6">
        <h2>Update Post</h2>
    </div>
    <div class="col-md-6">
        <button (click)="onClose()" mat-raised-button color='warn' style="float: right;">Close X</button>
    </div>
</div>

<form [formGroup]='service.form' class='normal-class' (submit)="onUpdate()">
    <mat-grid-list cols="1" rowHeight="300px">
        <mat-grid-tile>
            <div class="controler-container">
                <input type="hidden" formControlName='id'>
                <mat-form-field>
                    <input formControlName='title' matInput placeholder="Enter Title*">
                    <mat-error>This field is required.</mat-error>
                </mat-form-field>
                <mat-form-field>
                    <input formControlName='body' matInput placeholder="Enter Description*">
                    <mat-error>This field is required.</mat-error>
                </mat-form-field>
                <div class="button-row text-center">
                    <button mat-raised-button color='primary' type='submit' [disabled]='service.form.invalid'>Update</button>
                    <button mat-raised-button color='warn' (click)='onClick()'>Clear</button>
                </div>
            </div>
        </mat-grid-tile>
      </mat-grid-list>
</form>